<head></head>

    <center><div class="dark">

         <P class="heading">Admin's page</P>
            <p class="content">This is were people with administrator's role do inserting,</br>updating and deleting the contents.</p>
      
    </div>
           
        </center>
