{{!-- <section>
   <div class="row mt-4 ">
            
             <a href="/admin/add-product" class="btn btn-success ml-auto " target="f2">Add Movie</a>
       </div>
        <div class="row mt-4 ">
          <a href="/admin/Add-book" class="btn btn-success ml-auto " target="f2">Add Book</a>
        </div>
        <div class="row mt-4 ">
          <a href="/admin/view-movie" class="btn btn-success ml-auto " target="f2">Movies</a>
        </div>
</section> --}}