 <div class="dark">
                <!-- navbar -->
                <nav class="navbar navbar-light ">
                    <div class="container-fluid">
                       
                    </div>
                  </nav>
                  <center>
                  <p class="heading">
                    Sign in as Administrator
                </p> 
                <input type="email" name="" id="email" placeholder="email" class="email"><br>
                <input type="password" name="" id="password" placeholder="password" class="password"><br>
                <input type="submit" value="Continue" id="Continue" class="continue "><br>
                <p class="content2">Don't have an account?
                <a id = "GFG" class="content" href="signup-admin">
                    Create new one.
                </p>
                </center>
              </div>
