<div class="dark">
  <link rel="stylesheet" href="/stylesheets/signup-admin.css">

  <!-- navbar -->

  {{!-- <nav class="navbar navbar-light">
    <div class="container-fluid">

    </div>
  </nav> --}}
  <center>
    <p class="heading">Sign up as Administrator</p>
    <form action="/signup" method="post">
      <input type="text" name="" id="name" placeholder="name" class="name" /><br />
      <input type="email" name="" id="email" placeholder="email" class="email" /><br />
      <input type="password" name="" id="password" placeholder="password" class="password" /><br />
      <input type="submit" value="Continue" id="Continue" class="continue" /><br />
    </form>
    <p class="content2">
      Have an account?
      <a id="GFG" class="content" href="login-admin"> Sign in instead. </a>
    </p>
  </center>
</div>