

<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/admin-header.css" />
</head>

  <nav class="navbar navbar-expand-lg navbar-light ">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">IRDb<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-itemdropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Databases
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="DatabasesDropList">
          <a class="dropdown-item" href="/admin/view-movies">Movies</a>
          <a class="dropdown-item" href="/admin/view-books">Books</a>
          <div class="dropdown-divider"></div>

        </div>
      </li>

      <li class="nav-itemdropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Add Databases
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="AddDatabasesDroplist">
          <a class="dropdown-item" href="/admin/add-product">Add Movies</a>
          <a class="dropdown-item" href="/admin/Add-book">Add Books</a>
          <div class="dropdown-divider"></div>

        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Users<span class="sr-only">(current)</span></a>
      </li>

      <li id="AccountDrop" class="nav-itemdropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{#if a}}
          {{a.Name}}
          {{else}}
          Account
          {{/if}}
        </a>
        <div id="AccountDropdownlist" class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{#if a}}
          <a class="dropdown-item" href="/logout">Logout</a>
          {{else}}
          <a class="dropdown-item" href="/login">Login</a>

          {{/if}}
        </div>
      </li>



    </ul>

  </div>
</nav>
</div>

