@font-face {
    font-family: impact;
    src: url('../fonts/impact.ttf');
}
.navbar-brand{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content2{
    font:100;
    color: #fff;
}
.heading{
    padding-top: 15vh;
    padding-bottom: 2vh;
    font-size: 45px;
    color: aliceblue;
}
.content{
    text-align: center;
    color: aliceblue;
    padding-top: 15px;
    
}
.Continue{    
border-radius: 6px;
width:190px;
background-color: #f5c518e3;
width:250px;
margin-bottom: 15px;
}
nav{
        background-color: #f5c518e3;
}
body{
    background-image: url(background.jpg);
    color: aliceblue;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    width: 100%;
    display: flex;
}
.dark{
    background-color: rgba(0, 0, 0, 0.82);
    height: 100vh;
    width: 100%;
}
.email, .password{
    border-radius: 6px;
    margin-bottom:11px;
    width:250px;
}
input[placeholder]{
    text-align: center;
}
.head{
    font-weight: bold;
    align-items: center;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:hover{
    color: #fff;
    
}
.content:hover{
    color: #fff;
    font-weight: 500;
}
.continue:hover{
    color:#000000;
    background-color:#f5c518 ;
    font-style: bold;
    transition: 0.4s;
}
.content, .content2{
    color: rgba(255, 255, 255, 0.833);
}